@model IEnumerable<OdeToFood.Models.RestaurantReview>
@{
    ViewBag.Title = "Index";
    //Layout = null;
}
<style>
    .review {
        padding: 2px;
        border-bottom: 2px solid black;
        padding-bottom: 10px;
    }

        .review h4 {
            color: maroon;
            padding: 5px;
            background: #cccc99;
        }

        .review p {
            font-size: .8em;
        }
</style>

@section featured{

    We are showing the latest @Model.Count() reviews

}

<h2>The Latest Reviews</h2>


@foreach (var item in Model)
{
    @Html.Partial("_Review", item)
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>





